* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    background-color: rgb(157, 156, 156)e;
}

.main {
    margin-top: 40px;
    height: 580px;
    width: 1200px;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin-left: 90px;
    border: 2px solid whitesmoke;
}

.child1 {
    height: 400px;
    width: 600px;

}

.child2 {
    height: 400px;
    width: 700px;
    background-color: white;
    padding-left: 30px;
}

.child2-text {
    width: 60%;

}

.child2-text>h1 {
    font-size: 40px;
}

.text {
    width: 350px;
}

.text>h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
}

.child2-text>p {
    color: gray;
}

.logo_heading {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-div {
    background-color: white;
    margin-top: 40px;
    width: 300px;
}

.icons {
    margin-left: 10px;
}

.input-wrapper {
    /* padding: 16px;
    color: black; */
    --padding: 16px;
    --focus-color: black;
    position: relative;
    display: flex;
    align-items: center;
    width: 400px;
}

#input {
    margin-left: 10px;
    margin-bottom: 10px;
}

input {
    padding: var(--padding);
    border: none;
    outline: none;
    border-radius: 6px;
    width: 300px;
    border: 1px solid gray;

}

input:is(:focus, :valid) {
    border: 1px solid skyblue;
}

.placeholder {
    position: absolute;
    background-color: white;
    color: gray;
    margin-left: 20px;
    left: var(--padding);
    padding: 0 4px;
    transition: all 0.2s ease-in;
}

input:is(:focus, :valid)+.placeholder {
    transform: translateY(calc(-1 * var(--padding) - 10px));
    font-size: 14px;
    color: #40A2D8;
    background-color: white;
}

.btn {
    margin-top: 20px;
    display: flex;
    gap: 20px;

}

.signup_btn {
    height: 35px;
    width: 120px;
    background-color: #40A2D8;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.signup_btn :hover {
    transform: scale(1.2s);
}

.login_btn {
    cursor: pointer;
    height: 35px;
    width: 120px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 1px solid whitesmoke;
}

.para {
    margin-top: 20px;
    margin-bottom: 20px;
    color: gray;
}

.last_icons {
    display: flex;
    gap: 10px;
}

@media screen and (max-width:768px) {
    .child1 {
        display: none;
    }

    .main {
        width: 400px;
        margin-left: 0px;
        background-color: white;
    }

    .child2 {
        height: 400px;
        width: 400px;
        background-color: white;
        padding-left: 30px;
    }
}

@media screen and (max-width:1024px) {
    .child1 {
        display: none;
    }

    .main {
        margin-top: 40px;
        height: 650px;
        width: 800px;
        background-color: white;
        display: flex;
        justify-content: center;
        padding-top: 30px;
        margin-left: 40px;
        border: 2px solid whitesmoke;
    }

    .child2 {
        height: 400px;
        width: 400px;
        background-color: white;
        padding-left: 30px;
    }
}

@media screen and (max-width:850px) {
    .child1 {
        display: none;
    }

    .main {
        margin-top: 40px;
        height: 650px;
        width: 400px;
        background-color: white;
        display: flex;
        justify-content: center;
        padding-top: 30px;
        margin-left: 250px;
        border: 2px solid whitesmoke;
    }

    .child2 {
        height: 400px;
        width: 400px;
        background-color: white;
        padding-left: 30px;
    }
}

@media screen and (max-width:768px) {
    .child1 {
        display: none;
    }

    .main {
        margin-top: 40px;
        height: 650px;
        width: 400px;
        background-color: white;
        display: flex;
        justify-content: center;
        padding-top: 30px;
        margin-left: 150px;
        border: 2px solid whitesmoke;
    }

    .child2 {
        height: 400px;
        width: 400px;
        background-color: white;
        padding-left: 30px;
    }
}

@media screen and (max-width:670px) {
    .child1 {
        display: none;
    }

    .main {
        margin-top: 40px;
        height: 650px;
        width: 400px;
        background-color: white;
        display: flex;
        justify-content: center;
        padding-top: 30px;
        margin-left: 80px;
        border: 2px solid whitesmoke;
    }

    .child2 {
        height: 400px;
        width: 400px;
        background-color: white;
        padding-left: 30px;
    }
}

@media screen and (max-width:580px) {
    .child1 {
        display: none;
    }

    .main {
        margin-top: 40px;
        height: 650px;
        width: 400px;
        background-color: white;
        display: flex;
        justify-content: center;
        padding-top: 30px;
        margin-left: 20px;
        border: 2px solid whitesmoke;
    }

    .child2 {
        height: 400px;
        width: 400px;
        background-color: white;
        padding-left: 30px;
    }
}

@media screen and (max-width:480px) {
    .child1 {
        display: none;
    }

    .main {
        margin-top: 40px;
        height: 650px;
        width: 380px;
        background-color: white;
        display: flex;
        justify-content: center;
        padding-top: 30px;
        margin-left: 20px;
        border: 2px solid whitesmoke;
    }

    .child2 {
        height: 400px;
        width: 400px;
        background-color: white;
        padding-left: 30px;
    }
}



body {
    background: url(https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) center no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.mainContainer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container {
    border-radius: 20px;
    overflow: hidden;
}
.getstarted-col {
    background-image: url(https://images.pexels.com/photos/699466/pexels-photo-699466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.getstarted-col .content:after {
    background: rgb(12,37,68);
    background: linear-gradient(90deg, rgba(12,37,68,1) 0%, rgba(23,53,95,1) 35%, rgba(26,72,111,1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.95;
    content: '';
    z-index: 0;
    border-radius: 15px;
}
.content-icon img {
    max-width: 200px;
}
.child-w-100 > * {
    width: 100%;
    z-index: 1;
}



/* BUTTONS */
.btn.btn-semitransparent {
    background: #ffffff40;
    color: #fff;
}
.signup-options-list button {
    width: 100%;
    transition: 0.2s background-color ease-in-out;
}
.signup-options-list button:hover {
    background-color: #fffbe7;
}

/* colors */
.text-secondary2 {
    color: #cdcdcd;
}
.icon-fb {
    color: #3B5997;
}
.icon-google {
    color: #F44242;
}


/* INPUTS */
.default-input {
    width: 100%;
    border: 1px solid #cccccc70;
    background: #EBF3F5;
    padding-right: 30px;
}
[error-notif] input {
    background: #ffe9e9;
    border: 1px solid #dc3545;
}
[success-notif] input {
    background: #d9f7db;
    border: 1px solid #198754;
}
.icon-feedback {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%) scale(1.15);
}
.error-feedback {
    display: none;
}
[error-notif] .error-feedback {
    display: block;
}
.icon-feedback .icon {
    display: none;
}
[error-notif] .fa-circle-exclamation {
    display: block;
}   
[success-notif] .fa-circle-check  {
    display: block ;
} 
.show-password {
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translate(0, -50%) scale(1.25);
    opacity: 0.45;
    transition: 0.2s all ease-in-out;
}
.show-password:hover {
    opacity: 1;
}
.show-password .icon {
    display: none;
}
.show-password.show .fa-eye-slash.icon {
    display: block ;
    cursor: pointer;
}
.show-password:not(.show) .fa-eye.icon {
    display: block ;
    cursor: pointer;
}
form {
    width: 85%;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .column {
        width: 50%;
    }
    .content-icon img {
        max-width: 270px;
    }
}

@media screen and (min-width: 991px) {
    .icon-feedback {
        transform: translate(0, -50%) scale(1.5);
    }
}

@media screen and (min-width: 1024px) {
    .content-icon img {
        max-width: 300px;
    }
    form {
        width: 95%;
    }
    .show-password {
        right: -30px;
    }
}


@media screen and (min-width: 1366px) {
    .signup-options-list button {
        width: 49%;
    }
    .form-wrapper {
        width: 450px;
    }
}



.verifyInput{
    font-size: 55px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;

}

